html {
  height: 100%;
  box-sizing: border-box;
}
h1 {
  color: white;
  background-color: #1B85B8;
  text-align: center;
	padding: 20px;
	margin: -10px;
	}
body {
  background-color: #f0ead6;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
	font-size: large;	
}
img {
	height: 500px;
	width: 500px;
}
div.column1 div.column2 {
	display: inline-table;               
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #1B85B8;
  text-align: center;
}
